@font-face {
    font-family: Mynerve;
    src: url("../fonts/Mynerve-Regular.ttf");
}

body {
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #efe9e3;
    font-family: Mynerve;
}

header {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 0 1rem;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 10px 5px #dcd3cb;
}

.left, .center, .right {
    flex: 1;
}

.center {
    text-align: center;
    font-size: 130%;
    letter-spacing: 3px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

#navbar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 17%;
    height: 638px;
    background-image: url("../images/navbarBg.png");
    background-repeat: no-repeat;
    box-shadow: none;
    transition: right 0.3s ease, box-shadow 0.1s ease;
}

#navbar ul {
    list-style-type: none;
    padding: 2.5rem 1rem;
    margin: 0;
    line-height: 300%;
}

#navbar ul li {
    padding: 2rem 1rem;
    font-size: 160%;
    font-weight: 600;
    transition: font-size 0.2s, text-shadow 0.2s, transform 0.1s;
}

#navbar ul li:hover {
    font-size: 190%;
    text-shadow: 0 0 15px #C9B59C;
    transform: rotate(1deg);
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}

#navbarOpen { /* navbarin avaamis painike */
    width: 82px;
    height: 82px;
    background: url("../images/navbar.png");
    background-size: 82px 82px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#navbarOpen:hover {
    box-shadow: 0px 4px 5px #bcb8b3;
}

.navbarClose { /* navbarin sulkemis painike */
    font-family: Mynerve;
    float: right;
    border: none;
    background: transparent;
    font-size: 300%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: font-size 0.1s, transform 0.1s;
}

.navbarClose:hover {
    font-size: 330%;
    transform: rotate(3deg);
}

.content {
    margin-left: 17.5%;
    margin-top: 3%;
    padding: 13% 0;
    width: 65%;
    background-color: #dcd3cb;
    box-shadow: 0px 7px 1px #bcb8b3;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.play {
    font-family: Mynerve;
    background-color: #dcd3cb;
    margin: 3%;
    padding: 2rem 7rem;
    border: none;
    box-shadow: 0px 7px 1px #bcb8b3;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    
    width: 35%;
    height: 50%;
    overflow: auto;
    background-color: #efe9e3;
    border: solid #C9B59C;
}

.modalClose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 300%;
    transition: font-size 0.1s, transform 0.1s;
}

.modalClose:hover {
    cursor: pointer;
    font-size: 330%;
    transform: rotate(3deg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 5%;
    font-size: 200%;
    /*outline-style: solid;
    outline-color: red;*/
}

footer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 3.5rem 2rem;
    width: 100%;
    background-color: #C9B59C;
    box-shadow: 0px -7px 1px #D9CFC7;
    font-size: 200%;
}
